<div class="container" ng-controller="loginController as loginCtrl">
    <div class="row">
        <div class="col-md-4">

            <div class="panel panel-default">
                
                <div class="panel-heading">
                    <h3 class="panel-title">Login</h3>
                </div>
                
                <div class="panel-body">

                    <div class="row">
                        <div class="col-md-6">
                            <a ng-click="loginCtrl.authFacebook()" href="">Login with Facebook</a>
                        </div>
                        <div class="col-md-6">
                            Login with Twitter
                        </div>
                    </div>

                    <hr>

                    <form method="POST" role="form" name="userForm" ng-submit="userForm.$valid && loginCtrl.login()" novalidate="">

                        <div class="form-group">
                            <input ng-model="loginCtrl.data.username" type="text" class="form-control" name="username" placeholder="Username" ng-minlength="3" ng-maxlength="15" pattern="^[a-zA-Z0-9_]*$" ng-required="true">
                            <div ng-show="userForm.$submitted || userForm.username.$touched">
                                <p ng-show="userForm.username.$error.required">Username is required. (3-15)</p>
                                <p ng-show="userForm.username.$error.minlength">Username is too short. (3-15)</p>
                                <p ng-show="userForm.username.$error.maxlength">Username is too Long. (3-15)</p>
                                <p ng-show="userForm.username.$error.pattern">Username must only contain alphanumerics or an underscore</p>
                            </div>
                            
                            <input ng-model="loginCtrl.data.password" type="password" class="form-control" name="password" placeholder="Password" ng-minlength="6" ng-required="true">
                            <div ng-show="userForm.$submitted || userForm.password.$touched">
                                <p ng-show="userForm.password.$error.required">Password is required.</p>
                                <p ng-show="userForm.password.$error.minlength">Password must be 6 or more characters long.</p>
                            </div>

                        </div>

                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>

                </div>
            </div>

        </div>
    </div>
</div>