
<div class="container" ng-controller="registerController as registerCtrl">
    <div class="row">
        <div class="col-md-4">
            
            <div class="alert alert-danger" ng-hide="!error">
                <strong>Error: </strong> {{ error }}
            </div>

            <div class="panel panel-default">
                
                <div class="panel-heading">
                    <h3 class="panel-title">Sign Up</h3>
                </div>

                <div class="panel-body">

                    <form method="POST" role="form" name="userForm" ng-submit="userForm.$valid && registerCtrl.register()" novalidate="">
                        <div class="form-group">

                            <input ng-model="registerCtrl.data.email" type="email" class="form-control" name="email" placeholder="Email" ng-required="true">
                            <div ng-show="userForm.$submitted">
                                <p ng-show="userForm.email.$error.required">Email is required.</p>
                                <p ng-show="userForm.$error.email">Enter valid email address.</p>
                            </div>

                            <input ng-model="registerCtrl.data.password" type="password" class="form-control" name="password" placeholder="Password" ng-minlength="6" ng-required="true">
                            <div ng-show="userForm.$submitted">
                                <p ng-show="userForm.password.$error.required">Password is required.</p>
                                <p ng-show="userForm.password.$error.minlength">Password must be 6 or more characters long.</p>
                            </div>

                            <input ng-model="registerCtrl.data.confirmpassword" type="password" class="form-control" name="confirmpassword" ng-Match="registerCtrl.data.password" placeholder="Confirm Password" ng-minlength="6" ng-required="true">
                            <div ng-show="userForm.$submitted">
                                <p ng-show="userForm.confirmpassword.$error.required">You must confirm the Password.</p>
                                <p ng-show="userForm.confirmpassword.$error.minlength">Password must be 6 or more characters long.</p>
                                <p ng-show="userForm.confirmpassword.$error.ngMatch" ng-if="registerCtrl.data.password != registerCtrl.data.confirmpassword">Passwords do not match.</p>
                            </div>

                        </div>
                    
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                    <hr>

                    <center><a href="user/login">Already have an account?</a></center>

                </div>

            </div>   

        </div>
    </div>
</div>
