<div class="container" ng-controller="loginController as loginCtrl">
    <div class="row">
        <div class="col-md-4">

            <div class="alert alert-danger" ng-hide="!error">
                <strong>Error: </strong> {{ error }}
            </div>

            <div class="panel panel-default">
                
                <div class="panel-heading">
                    <h3 class="panel-title">Login</h3>
                </div>
                
                <div class="panel-body">

                    <div class="row">
                        <div class="col-md-6">
                            <a ng-click="loginCtrl.authFacebook()" href="">Login with Facebook</a>
                        </div>
                        <div class="col-md-6">
                            Login with Twitter
                        </div>
                    </div>

                    <hr>

                    <form method="POST" role="form" name="loginForm" ng-submit="loginForm.$valid && loginCtrl.login()" novalidate="">

                        <div class="form-group">
                            <input ng-model="loginCtrl.data.email" type="email" class="form-control" name="email" placeholder="Email" ng-required="true">
                            <div ng-show="loginForm.$submitted">
                                <p ng-show="loginForm.email.$error.required">Email is required.</p>
                                <p ng-show="loginForm.$error.email">Enter valid email address.</p>
                            </div>

                            <input ng-model="loginCtrl.data.password" type="password" class="form-control" name="password" placeholder="Password" ng-minlength="6" ng-required="true">
                            <div ng-show="loginForm.$submitted || loginForm.password.$touched">
                                <p ng-show="loginForm.password.$error.required">Password is required.</p>
                                <p ng-show="loginForm.password.$error.minlength">Password must be 6 or more characters long.</p>
                            </div>

                        </div>
                        <div style="text-align: right;"><a href="users/forgetpassword">Forget password?</a></div>

                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>

                    <hr>

                    <center><a href="user/register">Register for an account?</a></center>

                </div>
            </div>

        </div>
    </div>
</div>