<div class="container" ng-controller="usersController as usersCtrl">
    
    <legend>Users</legend>
    
    <div ng-repeat="data in users">
        <ng-user data="data" user="user"></ng-user>
    </div>

</div>